<?php

include_once __DIR__.'/vendor/symfony/class-loader/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\\Component\\Console' => __DIR__.'/vendor/symfony/console/',
    'Symfony\\Component\\ClassLoader' => __DIR__.'/vendor/symfony/class-loader/',
    'Doctrine\\Spatial' => __DIR__.'/src/',
    'Doctrine\\ORM' => __DIR__.'/vendor/jsor/doctrine2/lib/',
    'Doctrine\\DBAL' => __DIR__.'/vendor/jsor/dbal/lib/',
    'Doctrine\\Common' => __DIR__.'/vendor/doctrine/common/lib/',
));

$loader->register();
